<form class="py-4 my-4 "[formGroup]="form">
  <div class="col-md-16">
              <div class=" mg mg-2 block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent ">
                  <label for="cep" class="form-label">CEP: </label>
                  <input formControlName="cep" type="text" value="53030050" placeholder="53030050">
              </div>
          <div class=" font-bold block py-2 px-3 md:p-0 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent">
              <div class="">
                  <label for="logradouro" class="form-label">Logradouro</label>
                  <input formControlName="logradouro" type="text" vallue="Rua Maria Ramos" placeholder="Rua Maria Ramos">
              </div>
          </div>
<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
<div class="">
  <div class="">
      <label for="estado" class="form-label">Estado</label>
      <input formControlName="estado" type="text"  vallue="PE" placeholder="PE">
  </div>
</div>
<div class="">
  <div class="">
      <label for="cidadee" class="form-label">Cidade</label>
      <input formControlName="cidade" type="text" placeholder="Olinda">
  </div>
</div>
<div class="">
<div class="">
    <label for="Complemento" class="form-label">Complemento</label>
    <input formControlName="Complemento" type="text" placeholder=" nº 850 - Apt-02">
</div>
</div>
<div class="">
 <div class="">
  <label for="bairro" class="form-label">Bairro</label>
  <input formControlName="bairro" type="text" placeholder="Bairro Novo">
</div>
</div>
</div>
</div>

  <div class="mg-2 col-md-8 max-w-screen-xl flex-wrap justify-between p-6">
    <div class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" placeholder="Sergio José Galdino Da silva Junior">
  </div>
  <div class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
    <label for="email" class="form-label">CPF</label>
    <input  type="text" placeholder="71515970450">
</div>
<div class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
  <label for="email" class="form-label">RG</label>
  <input  type="text" placeholder="10.562.293">
</div>
<div class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
<label for="email" class="form-label">Data de Nascimento</label>
<input  type="text" placeholder="25/02/2007">
</div>
<div class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
<label for="email" class="form-label">Nome Mãe</label>
<input  type="text" placeholder="Silvia Francisca da silva">
</div>
<div class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
<label for="email" class="form-label">E-mail</label>
<input  type="text"  placeholder="sergio.galdino.junior01">
</div>
<div class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
<label for="email" class="form-label">Estado Civil</label>
<input  type="text"  placeholder="solteiro">
</div>
  <div class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
    <label for="email" class="form-label">Telefone Alternativo</label>
    <input  type="text"  placeholder="(81)98358-5730">
</div>
<div class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
  <label for="email" class="form-label">Estado e Cidade Natal</label>
  <input  type="text" placeholder="Olinda">
</div>
<div class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
<label for="email" class="form-label">Trabalha Atualmente</label>
<input  type="text" placeholder="Não">
</div>
<div class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
    <label for="email" class="form-label">Ano de Conclusão do Ensino Médio</label>
    <input  type="text" placeholder="2024">
</div>

<div class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
  <label for="email" class="form-label">Curso </label>
  <input  type="text"  placeholder="Sistema de Informação">
</div>
<div class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
<label for="email" class="form-label">Turno</label>
<input  type="text" placeholder="Manhã">
</div>
<div class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
<label for="email" class="form-label">Forma de Engresso </label>
<input  type="text"  placeholder="Nota do Enem">
</div>

<div class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
  <label for="telefone" class="form-label">Telefone</label>
  <input type="text" placeholder="(81)99787-5731">
</div>

<div class="border-gray-200 bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
<label for="telefone">Responsavel financeiro</label>
<input type="text"><h5>Sérgio José Galdino Da Silva</h5>
</div>

  </div>
</form>
